$mainBG:url("../img/header_background_v1.jpg");
$bannerColor: #fff;
$font: normal 300 15px/24px Roboto, sans-serif;
$btnColor:#01acac;
$headersColor:#000;
$postDescriptionColor:#ff0000;
$postHeadersColor:#01acac;
$mainSectionColor:#fff;
$articleColor:#efefef;
$footerColor:#000;