$mainBG:url("../img/header_background_v2.jpg");
$bannerColor: #ff5722;
$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$btnColor:#0401ab;
$headersColor:#757575;
$postDescriptionColor:#bdbdbd;
$postHeadersColor:#607d8f;
$mainSectionColor:#efefef;
$articleColor:#fff;
$footerColor:#757575;